@import url("../styles/animation.css");

:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --light-green: #5aac8c;
  --light-green-shadow: #5aac8c30;
  --dark-green: #5c796e;
  --dark-green-shadow: #5c796e30;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #383c3a;
}

body {
  overflow: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

select:focus {
  outline: none;
}

.section {
  position: relative;
  height: calc(100vh - 52px);
  background: url("/bg.png") no-repeat;
  background-size: cover;
  overflow: hidden;

  max-height: 1440px;
}

.marble-bg {
  width: 864px;
  height: 874px;
  background: url("/marble.png") no-repeat;

  filter: blur(0px);

  opacity: 0.3;

  position: absolute;
  right: -100px;
  bottom: -100px;

  z-index: -1;

  scale: 0.8;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
