.container {
  min-width: 40px;
  max-width: fit-content;

  text-align: center;
  border-radius: 10px;
  border: 1px solid #ffffff32;
}

.text {
  width: auto;
  font-weight: 500;
  font-size: 0.7rem;
  margin: 0.4px;
  padding: 2px 8px;
  color: inherit;
}
