.button {
  padding: 0.5rem 1rem;

  color: #fff;
  border: 1px solid #ffffff90;
  border-top: 1px solid #ffffff80;
  border-bottom: 1px solid #ffffff80;

  border-radius: 100px;
  background: #ffffff05;

  font-size: 1.1rem;
  cursor: pointer;

  transition: all 0.2s;
}

.button:hover {
  background: #ffffff20;
}

.dark {
  background: #5aac8c50;
}

.dark:hover {
  background: #5aac8c80;
}

.auto {
  width: auto;
}

.xs {
  width: 100px;
}

.sm {
  width: 200px;
}

.md {
  width: 400px;
}

.lg {
  width: 500px;
}

.full {
  width: 100%;
}
