.container {
  display: flex;
  flex-direction: column;
}

.label {
  color: #fff;
  font-size: 1.2rem;
}

.input {
  padding: 10px;
  padding-left: 15px;
  font-size: 1.1rem;
  color: var(--dark-green);

  background: transparent;
  border: none;
  border-bottom: 2px solid #fff;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: #ffffff90;
  font-weight: 300;
}
