.container {
  display: flex;
  flex-direction: column;

  padding-top: 10px;
}

.label {
  color: #fff;
  font-size: 1.2rem;
}

.input {
  padding: 10px;
  padding-left: 15px;
  font-size: 1.1rem;
  color: var(--dark-green);

  background: transparent;
  border-bottom: 2px solid #fff;
}

.input::placeholder {
  color: #ffffff90;
  font-weight: 300;
}

.required::before {
  content: "*";
  width: 5px;
  height: auto;

  position: absolute;
  left: 0;
  top: 0;
}
