@keyframes spin {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(0.01, 0.01);
  }
  100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
  }
}

.spin div > div {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffffff;
  animation: spin 2s linear infinite;
}
.spin div:nth-child(1) > div {
  left: 148px;
  top: 90px;
  animation-delay: -0.9333333333333333s;
}
.spin > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 158px 100px;
}
.spin div:nth-child(2) > div {
  left: 143px;
  top: 114px;
  animation-delay: -0.8666666666666667s;
}
.spin > div:nth-child(2) {
  transform: rotate(24deg);
  transform-origin: 153px 124px;
}
.spin div:nth-child(3) > div {
  left: 129px;
  top: 133px;
  animation-delay: -0.8s;
}
.spin > div:nth-child(3) {
  transform: rotate(48deg);
  transform-origin: 139px 143px;
}
.spin div:nth-child(4) > div {
  left: 108px;
  top: 145px;
  animation-delay: -0.7333333333333333s;
}
.spin > div:nth-child(4) {
  transform: rotate(72deg);
  transform-origin: 118px 155px;
}
.spin div:nth-child(5) > div {
  left: 84px;
  top: 148px;
  animation-delay: -0.6666666666666666s;
}
.spin > div:nth-child(5) {
  transform: rotate(96deg);
  transform-origin: 94px 158px;
}
.spin div:nth-child(6) > div {
  left: 61px;
  top: 140px;
  animation-delay: -0.6s;
}
.spin > div:nth-child(6) {
  transform: rotate(120deg);
  transform-origin: 71px 150px;
}
.spin div:nth-child(7) > div {
  left: 43px;
  top: 124px;
  animation-delay: -0.5333333333333333s;
}
.spin > div:nth-child(7) {
  transform: rotate(144deg);
  transform-origin: 53px 134px;
}
.spin div:nth-child(8) > div {
  left: 33px;
  top: 102px;
  animation-delay: -0.4666666666666667s;
}
.spin > div:nth-child(8) {
  transform: rotate(168deg);
  transform-origin: 43px 112px;
}
.spin div:nth-child(9) > div {
  left: 33px;
  top: 78px;
  animation-delay: -0.4s;
}
.spin > div:nth-child(9) {
  transform: rotate(192deg);
  transform-origin: 43px 88px;
}
.spin div:nth-child(10) > div {
  left: 43px;
  top: 56px;
  animation-delay: -0.3333333333333333s;
}
.spin > div:nth-child(10) {
  transform: rotate(216deg);
  transform-origin: 53px 66px;
}
.spin div:nth-child(11) > div {
  left: 61px;
  top: 40px;
  animation-delay: -0.26666666666666666s;
}
.spin > div:nth-child(11) {
  transform: rotate(240deg);
  transform-origin: 71px 50px;
}
.spin div:nth-child(12) > div {
  left: 84px;
  top: 32px;
  animation-delay: -0.2s;
}
.spin > div:nth-child(12) {
  transform: rotate(264deg);
  transform-origin: 94px 42px;
}
.spin div:nth-child(13) > div {
  left: 108px;
  top: 35px;
  animation-delay: -0.13333333333333333s;
}
.spin > div:nth-child(13) {
  transform: rotate(288deg);
  transform-origin: 118px 45px;
}
.spin div:nth-child(14) > div {
  left: 129px;
  top: 47px;
  animation-delay: -0.06666666666666667s;
}
.spin > div:nth-child(14) {
  transform: rotate(312deg);
  transform-origin: 139px 57px;
}
.spin div:nth-child(15) > div {
  left: 143px;
  top: 66px;
  animation-delay: 0s;
}
.spin > div:nth-child(15) {
  transform: rotate(336deg);
  transform-origin: 153px 76px;
}
.loadingSpinner {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: rgba(221, 221, 221, 0);
  scale: 0.65;
}
.spin {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.spin div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */
