.container {
  margin-bottom: 10px;
  position: relative;
}

.title {
  padding: 10px 15px;
  font-size: 1rem;

  color: var(--dark-green);
  background-color: #f8f8f850;
  border-radius: 10px;
  border: 1px solid #ffffff50;

  font-weight: 600;

  cursor: pointer;
  position: relative;
}

.contents {
  padding: 0 10px;

  overflow: hidden;

  color: var(--dark-green);

  animation: scaleY 0.4s alternate;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

.show {
  max-height: 100%;
  padding: 10px;

  animation: scaleY 0.4s alternate;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

.arrow {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 5px;
  height: 5px;
  padding: 10px;
}

.arrow:before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 5px;
  height: 5px;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}

.up:before {
  transform: rotate(315deg);
}

.down:before {
  transform: rotate(135deg);
}

@keyframes scaleY {
  0% {
    opacity: 0;
    transform: scaleY(0.8);
  }

  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
