.container {
  margin-top: 70px;
}

.headerTitle {
  position: absolute;
  top: 5px;
  left: 20px;

  z-index: 10;

  padding-left: 1.2rem;
  padding-top: 0.3rem;
}

.headerTitle::after {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 4px;
  height: 55px;
  background: var(--dark-green);
}

.headerTitle h5 {
  font-size: 1rem;
  color: var(--dark-green);
}

.headerTitle strong {
  color: var(--dark-green);
}

.headerTitle p {
  font-size: 0.88rem;
  margin-top: -3px;
  color: var(--dark-green);
}

.contentsContainer {
  display: flex;
  flex-direction: column;

  margin-top: 55px;
}

.badgeContainer {
  display: flex;
  gap: 10px;
}
