.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  height: 100vh;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

  position: absolute;
  bottom: 35px;

  z-index: 5;
}

.btn {
  width: 240px;
  padding: 8px 10px;

  border: none;
  border-radius: 7px;

  font-size: 1.05rem;

  background: #313131;
  box-shadow: 5px 5px 8px #6868684f;

  cursor: pointer;
  transition: all 0.3s;
}

.btn a {
  color: #fff;
  text-decoration: none;
}

.retryBtn {
  background: #313131;
}

.retryBtn:hover {
  background-color: #292a2a;
}

.saveBtn {
  background: #ffffff80;
}

.saveBtn:hover {
  background: #ffffff94;
}

.saveBtn a {
  color: #313131;
}
